* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background-color: #bf5555;
  height: 5rem;
  display: flex;
}
header h1 {
  text-align: center;
  width: 100%;
  align-self: center;
  color: white;
  font-family: "Noto Serif Display";
  font-size: 2rem;
}

main {
  min-height: 100vh;
  display: flex;
}

.menu-div {
  width: 25%;
  min-height: 100%;
  border-right: 2px solid #bf5555;
}

.buttons-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.buttons-container button {
  height: 2rem;
  border-radius: 0;
  font-family: monospace;
}
.buttons-container button:first-of-type {
  background-color: #bf5555;
  color: white;
  border: 1px solid white;
}
.buttons-container button:first-of-type:active, .buttons-container button:first-of-type:focus {
  background-color: #df4040;
}

.project-buttons {
  background-color: white;
  color: #bf5555;
  border: 1px solid #bf5555;
}

.content-div {
  position: relative;
  width: 75%;
  padding: 2rem;
  font-family: monospace;
  height: 100%;
}
.content-div h2 {
  color: #545454;
  font-size: 1.3rem;
}
.content-div .heading-button-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.content-div .heading-button-container button {
  background-color: #bf5555;
  color: white;
  border: 1px solid #bf5555;
  height: 2rem;
  width: 6rem;
  font-family: monospace;
  border-radius: 20px;
}
.content-div .heading-button-container button:active, .content-div .heading-button-container button:focus {
  background-color: #df4040;
}

h1, h2 {
  font-weight: normal;
}

.new-task-container {
  width: 50%;
  min-height: 50%;
  border-radius: 20px;
  border: 5px solid #df4040;
  margin-top: 2rem;
  padding: 2rem;
  position: absolute;
  left: 45%;
  top: 0;
}

form > label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #545454;
  font-family: monospace;
  font-size: 0.7rem;
}

form > input {
  width: 90%;
  border: 1px solid #df4040;
  color: #545454;
  font-family: monospace;
  min-height: 1.5rem;
  border-radius: 5px;
}
form > input:active, form > input:focus {
  outline: #bf5555 solid 2px;
}
form > input:invalid {
  outline: #df4040 solid 3px;
}

.radio-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.radio-container input[type=radio] {
  margin-right: 0.5rem;
}
.radio-container input[type=radio]:checked {
  accent-color: #df4040;
}
.radio-container label {
  margin-right: 3rem;
  color: #545454;
  font-family: monospace;
  font-size: 0.7rem;
}
.radio-container label[for] {
  color: #bf5555;
}

.add-cancel-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.add-cancel-container button {
  background-color: #bf5555;
  color: white;
  border: 1px solid #bf5555;
  height: 2rem;
  width: 6rem;
  font-family: monospace;
  border-radius: 20px;
}
.add-cancel-container button:active, .add-cancel-container button:focus {
  background-color: #df4040;
}

.new-project-button {
  background-color: #bf5555;
  color: white;
  border: 1px solid #bf5555;
  width: 3rem;
  height: 1.5rem;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  height: 100%;
}

.checkbox-container {
  margin-bottom: 2rem;
}
.checkbox-container div {
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.checkbox-container input[type=checkbox] {
  accent-color: #df4040;
  width: 1rem;
  height: 1rem;
}
.checkbox-container p {
  display: inline;
  font-family: monospace;
  color: #545454;
}
.checkbox-container label {
  color: #545454;
  margin-left: 1rem;
  font-size: 1rem;
}

.remove-container > button {
  padding: 0.1rem 0.5rem;
  font-size: 0.5rem;
  margin-left: 1rem;
  background-color: #bf5555;
  border: 1px solid #bf5555;
  color: white;
}/*# sourceMappingURL=main.css.map */